body {
  background-color: black;
  color: white;
  margin: 30px;
}

#weather {
  font-family: seven_segment;
  font-size: 40px;
}

#datetime {
  text-align: right;
  margin: auto;
  /* padding-right: 50px;
  padding-top: 50px; */
}

#time {
  font-family: seven_segment;
  font-size: 140px;
}

#date {
  font-family: seven_segment;
  font-size: 40px;
  padding-top: 5px;
  padding-right: 8px;
}

@font-face {
  font-family: seven_segment;
  src: url(../fonts/DSEG7ModernMini-Regular.woff);
}